<% if (site.tags.length){ %>
  <div class="sidebar-module tags">
    <h4>タグ：</h4>
    <div class="tag-wrap"><%- list_tags({show_count: theme.show_count, class: 'sidebar-module'}) %></div>
  </div>
<% } %>
