<% if (site.tags.length){ %>
  <div class="sidebar-module">
    <h4>Tags</h4>
    <span class="tag-wrap"><%- list_tags({show_count: theme.show_count, class: 'sidebar-module'}) %></span>
  </div>
<% } %>
