@charset "utf-8";

@import "settings";
@import "imports";
@import "compass";
@import "syntax_highlight";
@import "monokai";

$breakpoint-tablet: 980px;
$breakpoint-mobile: 736px;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin min-screen($break-point) {
  @media screen and (min-width: $break-point) {
    @content;
  }
}

@mixin screen($break-point-min, $break-point-max) {
  @media screen and (min-width: $break-point-min) and (max-width: $break-point-max) {
    @content;
  }
}

html {
  font-size: 62.5%;
  background: #f5f8fa;
}

body {
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  -webkit-font-feature-settings: 'palt' 1;
  font-feature-settings: 'palt' 1;
  margin-top: $marginTopBody;
  font-size: 16px; font-size: 1.6em;
  color: #333;
  line-height: 2.2;
  background: #f5f8fa;
  margin-top: 98px;
}

.navbar-fixed-top {
  position: absolute;
}

.col-lg-9 {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  p {
    letter-spacing: 0.1em;
    margin-bottom: 10px;
    line-height: 2.2;
  }
  .amazon-text {
    float: left;
    width: 500px;
    font-size: 12px; font-size: 1.2rem;
    margin: 0;
    @include max-screen($breakpoint-mobile) {
      width: 100%;
    }
  }
}

ul,
ol {
  padding-left: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.btn-primary {
  margin: 0 0 10px;
  background-color: #0eb535;
  border-color: #269f42;
  &:hover {
    background-color: #269f42;
  }
}

.redirect-link {
  margin-top: 30px;
  font-size: 120%;
}

.image-border {
  border: 1px solid #999;
}

.navbar-inverse {
  background: #fff;
  border-bottom: 1px solid #e1e8ed;
  .navbar-brand {
    display: block;
    float: none;
    color: #666;
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 26px;
  }
}

.navbar-reading {
  text-align: left;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #999;
}

h1 {
  font-size: 26px;
}

h2, .h2 {
  font-size: 22px;
  padding-bottom: 10px;
  //border-bottom: 1px solid #efefef;
}


h3, .h3 {
  font-size: 22px;
}

h1, h2, h3 {
  margin-top: 24px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  line-height: 1.4;
}
.well {
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  box-shadow: none;
  background: #fff;
}

a.well {
  display: block;
  font-size: 80%;
  &:hover {
    background: #efefef;
  }
  img {
    border: 1px solid #efefef;
  }
  .image {
    float: left;
    margin-right: 10px;
  }
  .text {
    float: left;
    width: 210px;
  }
  &::after {
    content: " ";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    font-size: 0;
  }
}

a {
  color: #0366d6;
}

.well2 {
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  box-shadow: none;
  background: #fff;
}

.well3 {
  margin-bottom: 20px;
}

.entry-banner {
  margin-top: 10px;
}

.posted {
  font-size: 14px;
}

.btn {
  font-size: 12px;
}

.glyphicon-new-window {
  font-size: 12px;
}

a:hover,
a:focus {
  color: #19374b;
  text-decoration: none;
}

pre {
  padding: rem-calc(12) rem-calc(10) rem-calc(12) rem-calc(10);
  margin-bottom: rem-calc(24);
  line-height: rem-calc(22);
  font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 24px;
  font-weight: lighter;
  span {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
    font-weight: lighter !important;
  }
  word-wrap: normal;
  white-space: pre;
  border-radius: 0;
  border: 1px solid #ddd;
  padding-left: 18px;
}

.amazon-wrapper {
  border: 1px solid #e1e8ed;
  padding: 12px;
  margin-bottom: 12px;
  background: #fff;
  img {
    box-shadow:0px 0px 3px 1px #ccc;
  }
  .amazon-image-2 {
    float: left;
    margin-bottom: 5px;
    @include max-screen($breakpoint-mobile) {
      float: none;
      margin: 0 auto 5px;
      width: 160px;
    }
    img {
      box-shadow: none;
    }
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.itunes-link {
  a {
    display: block;
    border: 1px solid #ccc;
    @include border-radius(4px);
    padding: 12px;
    margin-bottom: 12px;
    .mb15 {
      margin-bottom: 15px;
    }
    .image {
      float: left;
      margin: 0 12px 0 0;
      img {
        border: 1px solid #ccc;
        box-shadow:0px 0px 3px 1px #ccc;
      }
    }
    .trackName {
      font-size: 120%;
      margin-bottom: 8px;
    }
    .longDescription {
      font-size: 90%;
      margin-bottom: 8px;
      color: #666;
    }
    .textWrap {
      float: left;
      width: 76%;
    }
    &:hover {
      border: 1px solid #666;
    }
    &::after {
      content: " ";
      clear: both;
      display: block;
      visibility: hidden;
      height: 0;
      font-size: 0;
    }
    p {
      margin: 0;
      line-height: 1.4;
    }
    span {
      font-weight: normal;
      font-size: 80%;
    }
    .priceWrap {
      line-height: 1.4;
    }
    .rentalPrice {
      display: inline-block;
      font-weight: bold;
      font-size: 96%;
      color: #666;
    }
    .price {
      display: inline-block;
      font-weight: bold;
      font-size: 96%;
      color: #666;
    }
  }
}

.review {
  font-size: 80%;
  margin-top: 12px;
  line-height: 1;
}

.review-author {
  font-weight: bold;
  margin-right: 4px;
}

.review-rating {
  display: inline-block;
  width: 60px;
  height: 1.2em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(/images/grade6.gif) no-repeat;
  margin: 0 4px;
}

.banner {
  padding: 8px;
}

.banner-2 {
  margin-bottom: 20px;
  padding-left: 10px;
}

.rating-0 {
  background-position: -47px -7px;
}
.rating-1 {
  background-position: -137px -7px;
}
.rating-2 {
  background-position: -225px -7px;
}
.rating-3 {
  background-position: -313px -7px;
}
.rating-4 {
  background-position: -47px -37px;
}
.rating-5 {
  background-position: -137px -37px;
}
.rating-05 {
  background-position: -225px -37px;
}
.rating-15 {
  background-position: -313px -37px;
}
.rating-25 {
  background-position: -47px -68px;
}
.rating-35 {
  background-position:  -137px -68px;
}
.rating-45 {
  background-position: -225px -68px;
}
ul {
  &.social-buttons {
    padding: 8px 0;
    list-style-type: none;
    display: flex;
  	justify-content: flex-start;
  	align-items: baseline;
    line-height: 0;
    li {
      padding-right: 12px;
      &:last-child {
        padding-right: 0;
      }
    }
  }
}
.list-unstyled {
  li {
    float: left;
    span {
      font-size: 80%;
      display: block;
      padding: 4px 16px;
      margin: 0 4px 8px;
      border: 1px solid #d5d5d5;
      border-radius: 16px;
      text-decoration: none;
      background: #fff;
    }
  }
}

@media only screen and (max-width: 479px) {
  .container {
    padding: 0 10px
  }
  .navbar-toggle {
    display: none;
  }
  h1 {
    font-size: 26px;
    line-height: 1.4;
  }
  h2 {
    font-size: 24px;
    line-height: 1.4;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .youtube {
    max-width: 320px;
    height: 240px;
  }
  pre {
    overflow: scroll;
    code {
      white-space: pre;
    }
  }
  .itunes-link {
    a {
      .image {
        float: none;
        margin-bottom: 12px;
      }
      .textWrap{
        float: none;
        width: 100%;
      }
    }
  }
  ul {
    &.social-buttons {
      padding: 0;
      li {
        padding-right: 6px;
      }
    }
  }
  .col-lg-3 {
    margin-top: 20px;
    .list-unstyled {
      li {
        float: left;
        span {
          font-size: 80%;
          display: block;
          padding: 4px 16px;
          margin: 0 4px 16px;
          border: 1px solid #d5d5d5;
          border-radius: 16px;
          text-decoration: none;
          background: #fff;
        }
      }
      &::after {
        content: " ";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }
    }
    .amazon-wrapper {
      background: #fff;
      .amazon-image {
        float: left;
        margin-bottom: 5px;
      }
      .amazon-text {
        float: left;
        padding-left: 14px;
        font-size: 96%;
        width: 180px;
      }
      &::after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
}

@media only screen and (max-width: 788px) {
  .container {
    overflow: hidden;
  }
  .navbar-brand {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 15px 10px;
  }
  .navbar-reading {
    text-align: center;
  }
  .posted {
    font-size: 16px;
  }
  .itunes-link {
    a {
      .image {
        float: none;
        margin-bottom: 12px;
      }
      .textWrap{
        float: none;
      }
    }
  }
  .col-lg-3 {
    margin-top: 20px;
    .list-unstyled {
      li {
        float: left;
        span {
          font-size: 80%;
          display: block;
          padding: 4px 16px;
          margin: 0 4px 16px;
          border: 1px solid #d5d5d5;
          border-radius: 16px;
          text-decoration: none;
          background: #fff;
        }
      }
      &::after {
        content: " ";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }
    }
    .amazon-wrapper {
      border: 1px solid #e1e8ed;
      background: #fff;
      .amazon-image {
        float: left;
        margin-bottom: 5px;
      }
      .amazon-text {
        float: left;
        padding-left: 14px;
        font-size: 96%;
        width: 180px;
        @include max-screen($breakpoint-mobile) {
          padding-left: 10px;
          width: 66%;
        }
        @include max-screen(320px) {
          padding-left: 10px;
          width: 58%;
        }
      }
      &::after {
        content: '';
        display: table;
        clear: both;
      }
    }
    .profile {
      padding: 20px;
      .image {
        float: left;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .text {
        float: left;
        padding-left: 10px;
        width: 232px;
        font-size: 96%;
        margin-bottom: 0;
      }
      &::after {
        content: " ";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }
    }
  }
  .well2 {
    padding: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1098px){
  h1 {
    margin-top: 40px;
  }
  .container {
    width: 1098px;
  }
  .col-lg-9 {
    width: 66%;
    padding: 0 40px 20px;
    .amazon-wrapper {
      border: 1px solid #e1e8ed;
      background: #fff;
      .amazon-image {
        float: left;
        margin-bottom: 5px;
      }
      .amazon-text {
        float: left;
        padding-left: 14px;
        width: 454px;
      }
      &::after {
        content: '';
        display: table;
        clear: both;
      }
    }
  }
  .col-lg-3 {
    width: 34%;
    .well {
      padding: 16px;
      h4 {
        margin-top: 0;
      }
    }
    .list-unstyled {
      li {
        float: left;
        span {
          font-size: 80%;
          display: block;
          padding: 4px 16px;
          margin: 0 4px 16px;
          border: 1px solid #d5d5d5;
          border-radius: 16px;
          text-decoration: none;
          background: #fff;
        }
      }
      &::after {
        content: " ";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }
    }
    .amazon-wrapper {
      border: 1px solid #e1e8ed;
      background: #fff;
      .amazon-image {
        float: left;
        margin-bottom: 5px;
      }
      .amazon-text {
        float: left;
        padding-left: 14px;
        font-size: 80%;
        width: 180px;
      }
      &::after {
        content: '';
        display: table;
        clear: both;
      }
    }
    .profile {
      padding: 20px;
      .image {
        float: left;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .text {
        float: left;
        padding-left: 10px;
        width: 220px;
        font-size: 80%;
        margin-bottom: 0;
      }
      &::after {
        content: " ";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }
    }
    .well2 {
      padding: 20px;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: 736px) {
  iframe.youtube {
      width: 300px;
      height: 170px;
  }
}

.tabelog {
  p {
    margin: 0;
  }
  iframe {
    border: 1px solid #ededed !important;
  }
}

blockquote {
  color: #666;
  border-radius: 12px;
  border: 5px solid #eeeeee;
  p {
    font-size: 14px;
  }
}

.amazon-product-image {
  width: 110px;
  height: auto;
}

pre {
  //font-size: 12px;
  &.highlight {
    overflow-x: scroll;
  }
  code {
    white-space: pre;
  }
}

.tabelog {
  width: 300px;
}

ul, ol {
  padding: 0;
}