@charset "utf-8";

@import "settings";
@import "imports";

body {
  margin-top: $marginTopBody;
}

.navbar-inverse {
  background: #fff;
  border-bottom: 1px solid #ccc;
  .navbar-brand {
    color: #666;
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 24px;
  }
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #999;
}

a:hover,
a:focus {
  color: #19374b;
  text-decoration: none;
}
