@charset "utf-8";

@import "settings";
@import "imports";
@import "compass";
@import "syntax_highlight";

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300);

body {
  margin-top: $marginTopBody;
  font-size: 16px;
  line-height: 1.8;
  background: #f5f8fa;
  margin-top: 68px;
}

.navbar-fixed-top {
  position: absolute;
}

.col-lg-9 {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  p {
   margin-bottom: 20px;
   line-height: 2.2;
   letter-spacing: 0.1em;
  }
}

ul,
ol {
  padding-left: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.btn-primary {
  margin-top: 10px;
}

.redirect-link {
  margin-top: 30px;
  font-size: 120%;
}

.image-border {
  border: 1px solid #999;
}

.navbar-inverse {
  background: #fff;
  border-bottom: 1px solid #e1e8ed;
  .navbar-brand {
    color: #666;
    font-family: "Georgia", "Times New Roman", serif;
    font-size: 26px;
  }
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #999;
}

h1 {
  font-size: 26px;
}

h3, .h3 {
  font-size: 22px;
}

.well {
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  box-shadow: none;
  background: #fff;
}

.well2 {
  border-radius: 4px;
  border: 1px solid #e1e8ed;
  box-shadow: none;
  background: #fff;
}

.well3 {
  margin-bottom: 20px;
}

.entry-banner {
  margin-top: 10px;
}

.posted {
  font-size: 14px;
}

.btn {
  font-size: 12px;
}

.glyphicon-new-window {
  font-size: 12px;
}

a:hover,
a:focus {
  color: #19374b;
  text-decoration: none;
}

pre {
  padding: rem-calc(12) rem-calc(10) rem-calc(12) rem-calc(10) ;
  margin-bottom: rem-calc(24);
  line-height: rem-calc(22);
  @include border-radius(6px);
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14px;
  font-weight: lighter;
  span {
    font-family: 'Source Code Pro', sans-serif !important;
    font-weight: lighter !important;
  }
}

.amazon-wrapper {
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 12px;
  @include border-radius(4px);
  img {
    box-shadow:0px 0px 3px 1px #ccc;
  }
}

.itunes-link {
  a {
    display: block;
    border: 1px solid #ccc;
    @include border-radius(4px);
    padding: 12px;
    margin-bottom: 12px;
    .mb15 {
      margin-bottom: 15px;
    }
    .image {
      float: left;
      margin: 0 12px 0 0;
      img {
        border: 1px solid #ccc;
        box-shadow:0px 0px 3px 1px #ccc;
      }
    }
    .trackName {
      font-size: 120%;
      margin-bottom: 8px;
    }
    .longDescription {
      font-size: 90%;
      margin-bottom: 8px;
      color: #666;
    }
    .textWrap {
      float: left;
      width: 76%;
    }
    &:hover {
      border: 1px solid #666;
    }
    &::after {
      content: " ";
      clear: both;
      display: block;
      visibility: hidden;
      height: 0;
      font-size: 0;
    }
    p {
      margin: 0;
      line-height: 1.4;
    }
    span {
      font-weight: normal;
      font-size: 80%;
    }
    .priceWrap {
      line-height: 1.4;
    }
    .rentalPrice {
      display: inline-block;
      font-weight: bold;
      font-size: 96%;
      color: #666;
    }
    .price {
      display: inline-block;
      font-weight: bold;
      font-size: 96%;
      color: #666;
    }
  }
}

.review {
  font-size: 80%;
  margin-top: 12px;
  line-height: 1;
}

.review-author {
  font-weight: bold;
  margin-right: 4px;
}

.review-rating {
  display: inline-block;
  width: 60px;
  height: 1.2em;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: url(/images/grade6.gif) no-repeat;
  margin: 0 4px;
}

.banner {
  padding: 8px;
}

.banner-2 {
  margin-bottom: 20px;
  padding-left: 10px;
}

.rating-0 {
  background-position: -47px -7px;
}
.rating-1 {
  background-position: -137px -7px;
}
.rating-2 {
  background-position: -225px -7px;
}
.rating-3 {
  background-position: -313px -7px;
}
.rating-4 {
  background-position: -47px -37px;
}
.rating-5 {
  background-position: -137px -37px;
}
.rating-05 {
  background-position: -225px -37px;
}
.rating-15 {
  background-position: -313px -37px;
}
.rating-25 {
  background-position: -47px -68px;
}
.rating-35 {
  background-position:  -137px -68px;
}
.rating-45 {
  background-position: -225px -68px;
}

@media only screen and (max-width: 479px) {
  html, body {
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.8;
  }
  .container {
    padding: 0 10px
  }
  .navbar-toggle {
    display: none;
  }
  h1 {
    font-size: 20px;
  }
  img {
    max-width: 300px;
    height: auto;
  }
  .youtube {
    max-width: 320px;
    height: 240px;
  }
  pre {
    overflow: scroll;
    code {
      white-space: pre;
    }
  }
  .itunes-link {
    a {
      .image {
        float: none;
        margin-bottom: 12px;
      }
      .textWrap{
        float: none;
        width: 100%;
      }
    }
  }
}
ul {
  &.social-buttons {
    padding: 8px;
    list-style-type: none;
    &::after {
      content: '';
      display: table;
      clear: both;
    }
    li {
      float: left;
      padding-right: 12px;
    }
    .hatena {
      padding-top: 2px;
    }
    .facebook {
      padding-top: 1px;
    }
    .google {
      padding-top: 3px;
    }
    .pocket {
      padding-top: 0;
    }
    .twitter {
      padding-top: 43px;
    }
  }
}

@media only screen and (max-width: 788px) {
  .container {
    overflow: hidden;
  }
  .navbar-brand {
    padding: 25px 15px;
  }
  .itunes-link {
    a {
      .image {
        float: none;
        margin-bottom: 12px;
      }
      .textWrap{
        float: none;
      }
    }
  }
  .col-lg-3 {
    margin-top: 20px;
    .amazon-wrapper {
      border: 1px solid #e1e8ed;
      background: #fff;
      .amazon-image {
        float: left;
        margin-bottom: 5px;
      }
      .amazon-text {
        float: left;
        padding-left: 14px;
        font-size: 80%;
      }
      &::after {
        content: " ";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }
    }
    .amazon-wrapper {
      border: 1px solid #e1e8ed;
      background: #fff;
      .amazon-image {
        float: left;
        margin-bottom: 5px;
      }
      .amazon-text {
        float: left;
        padding-left: 14px;
        font-size: 80%;
        width: 180px;
      }
      &::after {
        content: " ";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }
    }
  }
  .well2 {
    padding: 20px;
    margin-bottom: 20px;
  }
  .well3 {
    display: none;
  }
}

@media (min-width: 1098px){
  h1 {
    margin-top: 40px;
  }
  .container {
    width: 1098px;
  }
  .col-lg-9 {
    width: 66%;
    padding: 0 40px 20px;
  }
  .col-lg-3 {
    width: 34%;
    .well {
      padding: 16px;
      h4 {
        margin-top: 0;
      }
    }
    .list-unstyled {
      li {
        float: left;
        span {
          font-size: 80%;
          display: block;
          padding: 4px 16px;
          margin: 0 4px 16px;
          border: 1px solid #d5d5d5;
          border-radius: 16px;
          text-decoration: none;
          background: #fff;
        }
      }
      &::after {
        content: " ";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }
    }
    .amazon-wrapper {
      border: 1px solid #e1e8ed;
      background: #fff;
      .amazon-image {
        float: left;
        margin-bottom: 5px;
      }
      .amazon-text {
        float: left;
        padding-left: 14px;
        font-size: 80%;
        width: 180px;
      }
      &::after {
        content: " ";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }
    }
    .profile {
      padding: 20px;
      .image {
        float: left;
        img {
          width: 80px;
          height: 80px;
        }
      }
      .text {
        float: left;
        padding-left: 10px;
        width: 220px;
        font-size: 80%;
        margin-bottom: 0;
      }
      &::after {
        content: " ";
        clear: both;
        display: block;
        visibility: hidden;
        height: 0;
        font-size: 0;
      }
    }
    .well2 {
      padding: 20px;
      margin-bottom: 20px;
    }
  }
}
