<header>
  <div class="container">
      <h1 class="blog-title"><a href="/"><%= config.title %></a></h1>
      <% if (config.subtitle){ %>
        <h2 class="lead blog-description">もうすぐ還暦ジジイが街撮りの<wbr />YouTubeチャンネルで奮闘する記録</h2>
      <% } %>    
  </div>
</header>
