<header>
  <div class="container">
      <h1 class="blog-title"><a href="/"><%= config.title %></a></h1>
      <% if (config.subtitle){ %>
        <h2 class="lead blog-description"><%= config.subtitle %></h2>
      <% } %>    
  </div>
</header>
