<div class="">
  <div class="banner-wrapper-well">
    <h3>ステッカーを購入して応援する</h3>
    <p class="banner-wrapper">
      <a href='https://bit.ly/3GrqN37' target='_blank'>
        <img src='/images/sale_stickers.jpg' border="0" class='banner-image' alt='' />
        <span class='link'>街撮りchフレブル - 3色ステッカーセット</span>
      </a>
      <span class='text'>街撮りchのマスコット的フレンチブルドッグのステッカー3色セット（緑色、水色、紫色）。サイズは6cm×6cm。</span>
    </p>
    <p class="banner-wrapper mt12p">
      <a href='https://bit.ly/3G93SJs' target='_blank'>
        <img src='/images/support_stickers.jpg' border="0" class='banner-image' alt='' />
        <span class='link'>街撮りchサポートステッカー2色セット</span>
      </a>
      <span class='text'>こちらをご購入の方に街撮りch配信動画冒頭にスポンサークレジットとしてご希望のお名前をテロップ表記いたします</span>
    </p>
  </div>

  <div class='amazon-support-wrapper'>
    <p>いつもvブログを読んでいただきありがとうございます。<br />
      YouTubeチャンネルの運用を続けていくために機材購入、資料購入などで困っております。<br />
      よろしければAmazonの欲しいものリストから応援いただけると助かります。</p>
    <a href='https://www.amazon.jp/hz/wishlist/ls/25A423UC1UQBD?ref_=wl_share' target='_blank' class='amazon-support-link'>街撮りchの欲しいものリスト</a>
  </div>

  <div class='codoc-support-wrapper'>
    <script src="https://codoc.jp/js/cms.js" data-css="rainbow" data-usercode="V940arvQkA" charset="UTF-8" defer></script>
    <div id="codoc-entry-r0pkvD4naw" class="codoc-entries" data-without-body="1" data-support-button-text="街撮りchを応援する" data-support-message="街撮りchでは撮影のための旅費、機材や資料の購入費などYouTubeチャンネルを運用するためのサポートをお願いしています。サポートいただけますと幸いです"></div>
  </div>
  <div class='paypal-support-wrapper'>
    <a href='https://bit.ly/3R6RvD5' target='_blank' class='paypal-support-link'>街撮りchをPayPal.Meで応援する</a>
    <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.com/jp/webapps/mpp/logo/about','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=900, height=700');"><img src="https://www.paypalobjects.com/marketing/web/jp/developer/logos-buttons/download/203x80_c-2-20200120.png" border="0" alt="ペイパル｜銀行決済も手数料0円、カードのポイント貯まる｜VISA,Mastercard,JCB,American Express, 銀行"></a></td></tr></table><!-- PayPal Logo -->
  </div>
  <div class="well profile">
    <h3>管理人：タケグチシゲキ</h3>
    <div class='profile-image'><img alt='' src='/images/profile.jpg' /></div>
    <p class="text">
      フロントエンドエンジニアとして働く55歳のジジイです。<br />
      首都圏を中心に散歩動画を撮影してYouTubeで配信してます。現在は夜の街のネオンや光が作り出す陰影が好きで撮影することが多いです。
    </p>
    <h3 class='subtitle'>YouTbueチャンネル</h3>
    <p class="link"><a href="https://bit.ly/47viGxF" target="_blank" >街撮りch - machidori.channel</a></p>

    <p class="text">YouTubeチャンネルもぜひご覧ください。思い出の街や気になる街の風景を楽しんでいただければと思います</p>
    <h3 class='subtitle'>X（旧Twiiter）</h3>
    <p class="link"><a href="https://bit.ly/47viGxF" target="_blank" >@shigektakeguchi</a></p>

    <p class="text">X（旧Twiiter）でも情報発信しております。よろしければフォローいただけると嬉しいです</p>
    <p class="text">記事や動画について知っている情報を教えていただけると幸いです。どんなささいなことでも大丈夫です。</p>
    <p class="text">また、仕事依頼、コラボ依頼、著作物の提供などについてのお問い合わせは下記のお問い合わせフォーム、X（旧Twiiter）のDMでお待ちしております</p>
  </div>
  <div class="well profile">
    <h3>お問い合わせ</h3>
    <p class="text">ブログ記事やYouTubeチャンネルの動画に関するコメント、お仕事依頼、コラボ依頼、著作物の提供についてなどなどお問い合わせにて随時募集中です。
      <br />
      情報提供などもお待ちしております。
    </p>
    <a href="https://forms.gle/MgDpDDxfiXJH5sEMA" class="text">お問い合わせはこちらのGoogleフォームからお願いいたします</a>
  </div>
  
</div>